h1 {
    text-decoration: none;
    text-transform: uppercase;
    color: springgreen
}

h2 {
    text-decoration: none;
    text-transform: capitalize;
    color: mediumslateblue
}

h3 {
    text-decoration: none;
    text-transform: capitalize;
    color: deepskyblue
}

div {
    text-decoration: none;
    text-transform: lowercase;
    color: white
}

textarea {
    text-decoration: none;
    background-color: black;
    border-style: ridge;
    border-color: aqua;
    color: gold;
}

table {
    background-color: black;
    border-style: ridge;
    border-color: aqua;
    color: gold;
}

td {
    background-color: black;
    border-style: ridge;
    border-color: aqua;
    color: gold;
}

span {
    color: white
}

p {
    color: white
}

ul {
    color: white
}

li {
    color: white
}

label {
    color: white
}

.H {
    text-transform: uppercase
}

.L {
    text-transform: lowercase
}

.warning {
    text-decoration: none;
    text-transform: lowercase;
    font-weight: bold;
    color: crimson;
    font-style: italic
}

#div1,
#div2 {
    float: left;
    width: 35px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
}